@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root{
    --secondary-color: #1f2022;
    --primary-color: white;
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
}
html{
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 50px;
    
}
.logo a li{
    color: var(--secondary-color);
    padding-left: 150px;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    font-size: 30px;
    color: var(--secondary-color)
}
.logo a {
    text-decoration: none;
    padding-left: 100px;
}
.logo img{
    width: 75px;
    border: 1.5px solid var(--secondary-color);
    border-radius: 75px;
}
.navbar{
    display: flex;
    /* border: 3px solid var(--secondary-color); */
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
}
.navlist {
    display: flex;
    margin: 50px;
    padding-left: 370px
}
.navlist li{
    list-style: none;
    padding-left: 15px;
    font-size: 18px;
}
.navlist li :hover{
text-shadow: 15px 15px  2px black;
font-size: 18.3px;
animation-name: color;
animation-duration:  0.5s;
animation-iteration-count: .5;
animation-timing-function: ease-in-out;
animation-fill-mode: alternate;
animation-direction: reverse;
}
.navlist li a{
    color: var(--secondary-color);
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.main{
    display: flex;
    height: 1080px;
}
.conatiner-main {
    width: 100%;
    height: 1080px;
    background: url(img/Main.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
    /* margin-left: 135px; */
    /* margin-top: 210px; */
    /* border: 0px var(--secondary-color) solid;
    border-radius: 50%; */
    /* display: flex; */
}
.left img {
    margin-left: 34px;
    margin-top: 58px;
}
.right {
    float: right;
    align-items: center;
    margin-top: 330px;
    margin-right: 116px;
}
.left {
    float: left;
    align-items: center;
    margin-top: 170px;
}
.a{
    left: -90px;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Raleway',sans-serif;
    color: rgb(255, 255, 255);
}
.b{
    left: -90px;
    margin-top: 20px;
    font-size: 60px;
    font-family: 'Raleway',sans-serif;
    color: rgb(255, 255, 255);
}
.us{
    height: 1080px;
    background-color: var(--primary-color);
}
hr{
            width: 90vw;
            margin-left: 90px;
            border: 0px;
            height: 2px;
            background: var(--secondary-color);
}
.detail{
    background-color: var(--secondary-color);
    width: 70vw;
    height: 2px;
    margin-top: 295px;
    margin-left: 250px;
    display: flex;
}
.vertical{
    height: 130px;
    width: 2px;
    background-color: var(--secondary-color);
    margin: 0px 110px;
}
.vertical-title{
    margin-top: 150px;
    color: var(--secondary-color);
    position: relative;
    width: 150px;
    font-family: 'Mooli', sans-serif;
    margin-left: -50px;
} 
#svg2{
    cursor: pointer;
}
@keyframes color{
    from{
        color: var(--secondary-color);
    }
    to{
        color: black;
    }
}